@*https://codepen.io/triss90/pen/bZaQYJ*@
@inject IJSRuntime Runtime

<div>
    <div></div>
    <div>
          <textarea id="@idStr" @bind="Mnemonics">
              
          </textarea>
    </div>
    <div>
        @Message
    </div>
    
</div>
    <style>
    .CodeMirror {
        border: 1px solid #eee;
        height: @Height;
        max-height: 1000px;
        width:@Width;
        margin-left:20px;
    }

    .CodeMirror-scroll {
        height: @Height;
        max-height: 1000px;
    }
    </style>
