@*https://codepen.io/triss90/pen/bZaQYJ*@
@inject IJSRuntime Runtime

@*<pre class="code" style="background:black" contenteditable="true" @ref="cellElement" @onkeyup="onKeyUp">
@if(MarkDownText!=null)
    @((MarkupString)MarkDownText)
</pre>*@

<div contenteditable="true" style="width:100%;height:200px;border:1px solid #000;
background-color:black;color:white" @ref="cellElement" @onkeyup="onKeyUp">
   @if(MarkDownText!=null)
       @((MarkupString)MarkDownText)
</div>

<style>

    .code {
        background: #232B2B;
        border-radius: 3px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        border-left: 6px solid #516363;
        width: 95%;
        margin: 50px auto;
        white-space: pre-wrap;
        padding: 20px 20px 20px 50px;
        color: #c7d3de;
        position: relative;
    }

        .code .l {
            line-height: 1.4em;
        }


</style>

