
<div class="@(Visible?"show":"")" id="snackbar">@ChildContent</div>

<style>
    #snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: @BackgroundColor;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

</style>

@code
{
    [Parameter]
    public bool Visible { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string BackgroundColor { get; set; } = "#333";
    [Parameter]
    public long Interval { get; set; } = 5000;
    private System.Timers.Timer timer = new System.Timers.Timer();
    public void Show()
    {
        Visible = true;
        timer.Interval = Interval;
        StateHasChanged();
    }
}