@page "/"
@using μp101.Component;

    <div class="container my-5">


        <!--Section: Content-->
        <section class="dark-grey-text">

            <!-- Section description -->
            <p class="lead text-center white-text w-responsive mx-auto text-muted mt-4 pt-2 mb-5">Online Simulator for Microprocessors</p>

            <!--First row-->
            <div class="row">


                <μp101.Component.GridCard Title="8085 Simulator" IconInfo="fas fa-draw-polygon fa-2x">
                    Run Assembly programs for 8085 microprocessors in browser.
                </μp101.Component.GridCard>
                <μp101.Component.GridCard Title="8086 Simulator" IconInfo="fas fa-draw-polygon fa-2x">
                    Run Assembly programs for 8086 microprocessors in browser.
                </μp101.Component.GridCard>
            </div>
            <!--First row-->

        </section>


    </div>




    <style>
        body {
            background-repeat: no-repeat;
            background: rgb(21,21,56);
            background: linear-gradient(90deg, rgba(21,21,56,1) 0%, rgba(10,41,28,1) 100%);
            background-size: 100% 100vh;
            background-position: 0% 0%;
        }
    </style>