@page "/"
@using μp101.Component;

<GridHolder>
    <GridCard Title="8085 Simulator" IconInfo="fas fa-draw-polygon fa-2x">
        Run Assembly programs for 8085 microprocessors in browser.
    </GridCard>
    <GridCard Title="8086 Simulator" IconInfo="fas fa-draw-polygon fa-2x">
        Run Assembly programs for 8086 microprocessors in browser.
    </GridCard>
</GridHolder>

<CodeCell>
    <span class="l slector">.code {</span>
    <span class="l property">background</span>: <span class="value">$bg-color</span>;
    <span class="l property">width</span>: <span class="value">60%</span>;
    <span class="l property">margin</span>: <span class="value">50px auto</span>;
    <span class="l property">white-space</span>: <span class="value">pre-wrap</span>;
    <span class="l property">counter-reset</span>: <span class="value">step</span>;
    <span class="l property">counter-increment</span>: <span class="value">step 0</span>;
    <span class="l selector">.l {</span>
    <span class="l selector">&:before</span> {
    <span class="l property">content</span>: <span class="value">counter(step)</span>;
    <span class="l property">counter-increment</span>: <span class="value">step</span>;
    <span class="l">}</span>
    <span class="l">}</span>
    <span class="l">}</span>
</CodeCell>


<style>
    body {
        background-repeat: no-repeat;
        background: rgb(21,21,56);
        background: linear-gradient(90deg, rgba(21,21,56,1) 0%, rgba(10,41,28,1) 100%);
        background-size: 100% 100vh;
        background-position: 0% 0%;
    }
</style>