@page "/Intel8085"
@using μp101.Component;

<h3>Intel8085</h3>

<CodeCell Width="50%"/>

<style>
    body {
        background-repeat: no-repeat;
        background: rgb(5,5,6);
        background: linear-gradient(90deg, rgba(5,5,6,1) 0%, rgba(16,11,17,1) 100%);
        background-size: 100% 100vh;
        background-position: 0% 0%;
    }
</style>