@page "/Intel8085"
@using μp101.Component;


    <ToolbarHolder>
        <IconButton Color="purple-gradient" Icon="far fa-file"></IconButton>
        <IconButton Color="purple-gradient" Icon="far fa-save"></IconButton>
        <IconButton Color="blue-gradient" Icon="fas fa-memory"></IconButton>
        <IconButton Color="peach-gradient" Icon="fas fa-fan"></IconButton>
    </ToolbarHolder>

  
    <DualGridHolder>
        <DualCard CardColor="mdb-color darken-3">
            <CodeCell Width="100%" Height="80vh" Mnemonics="MOV A,B" TopBottomMargin="20px" />
        </DualCard>
        <DualCard CardColor="grey darken-4">
            <h4 class="font-weight-bold ml-3 mb-4 pb-2">Tweaks</h4>

            <!--Show Wireframe-->

            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="wireFrame" checked>
                <label class="custom-control-label" for="wireFrame">Show Wireframe View</label>
            </div>
            <br />

            <!--Depth-->
            <p>Depth</p>
            <br />
            <!--D2C-->

            <p>Distance from Camera</p>
            <br />

            <!--Obj Download-->
        </DualCard>

    </DualGridHolder>

<style>
    body {
        background-repeat: no-repeat;
        background: rgb(21,21,56);
        background: linear-gradient(90deg, rgba(21,21,56,1) 0%, rgba(10,41,28,1) 100%);
        background-size: 100% 100vh;
        background-position: 0% 0%;
    }
</style>