<div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">

        @foreach(var tab in TabIDs)
        {
            <li class="nav-item">
                <a class="nav-link @((tab==TabIDs[ActiveTab])?" active ":string.Empty)" id="tab-@tab" data-toggle="tab" href="#@tab" role="tab" aria-controls="profile"
                   aria-selected="false">@tab</a>
            </li>
        }

    </ul>
    <div class="tab-content" id="myTabContent">
        @ChildContent
    </div>

</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string[] TabIDs { get; set; }
    [Parameter]
    public int ActiveTab { get; set; } = 0;
}